<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-xs-6 col-sm-6">
        <mat-label>Origin</mat-label>
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Select start country..." matInput formControlName={{ORIGIN_NAME}}
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of fromFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="this.originControl.invalid">{{originErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group col-xs-6 col-sm-6">
        <mat-label>Destination</mat-label>
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Select destination country..." matInput
            formControlName={{this.DESTINATION_NAME}} [matAutocomplete]="destAuto">
          <mat-autocomplete #destAuto="matAutocomplete">
            <mat-option *ngFor="let option of destinationFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="this.destinationControl.invalid">{{destinationErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary margin-default-right ">Calculate</button>
      <button type="button" (click)="onReset()" class="btn btn-warning float-right margin-default-right">
        Reset
      </button>
      <button type="Save trip" *ngIf="this.results?.data?.length !== 0" class="btn btn-success" (click)="saveTrip()">Save Trip</button>
    </div>
  </form>

  <mat-card class="card-margin" *ngIf="this.results && this.results.data.length === 0 && this.results.errorMessage">
    <mat-card-header>
      <mat-card-title>Not possible to calculate path</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Reason: {{this.results.errorMessage}}
    </mat-card-content>
  </mat-card>

  <div class="margin-default-top" >
    <app-trip-list *ngIf="this.trip" [trips]="[this.trip]"></app-trip-list>
  </div>
  
<!-- 
  <mat-card class="card-margin" *ngIf="this.results?.data?.length !== 0">
    <mat-card-header>
      <mat-card-title>Shortest Path</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-listbox cdkDropListOrientation="horizontal">
        <mat-chip-option *ngFor="let countryName of this.results.data let last = last;" #myChips
        (click)="onChipClicked(myChips)">
          {{countryName}}
          <span *ngIf="!last; else destinationIcon">
            ➡
          </span>
          <ng-template #destinationIcon>
            ✘
          </ng-template>
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card> -->

  

  <!-- <div *ngIf="!!this.selectedCountryDetails">
    <app-country-description [countryCode]="this.selectedCountryDetails"></app-country-description>
  </div> -->
  

</div>